Django==3.0
django-bootstrap-form
django-crispy-forms
django-extensions
django-favicon
django-filter
django-rest-swagger
django-sslserver
django-url-filter
djangorestframework
djangorestframework-queryfields
drf-nested-routers
whitenoise

# Viper API
openapi-codec
itypes

# Django
Jinja2
MarkupSafe
pytz
